{% extends 'base.html.twig' %}

{% block title %}Hello ImpressionController!{% endblock %}

{% block body %}

         {% for impression in impressions %}

            <p>{{impression.content}}</p>
         {% endfor %}

{% endblock %}
